<web-app
        xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
        metadata-complete="false"
        version="3.1">
    <service-ref>
        <service-ref-name></service-ref-name>
        <service-interface></service-interface>
    </service-ref>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>WEB-INF/app-context.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>PlayerServlet</servlet-name>
        <servlet-class>org.richard.home.web.PlayerServlet</servlet-class>
        <init-param>
            <param-name>playerService</param-name>
            <param-value></param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>PlayerServlet</servlet-name>
        <url-pattern>/player/*</url-pattern>
    </servlet-mapping>
</web-app>